
<div class="sidebar" data-color="#140947">
  <div class="logo">
    <a href="" class="simple-text logo">
      Ngoina Secondary School.
    </a>
  </div>
  <div class="sidebar-wrapper" id="sidebar-wrapper">

    <ul class="nav">

      {% if user.is_authenticated %}

      <li class=" ">
        <a href="/">
          <i class="now-ui-icons design_app"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a href="{% url 'classlist' %}">
          <i><img src="https://img.icons8.com/dotty/80/000000/student-registration.png"></i>
          <p>Student</p>
        </a>
      </li>
      <li>
      <li>
        <a href="{% url 'classlist' %}">
          <ul>
            <li>
              <p>Class List</p>
            </li>
          </ul>
        </a>
      </li>
      <li>
        <a href="{% url 'student' %}">
          <ul>
            <li>
              <p>Add New Student</p>
            </li>
          </ul>
        </a>
      </li>
      <li>
      <a href="/teachers_list.html">
        <i><img src="https://img.icons8.com/pastel-glyph/64/000000/teacher.png"></i>
        <p>Teacher</p>
      </a>
      </li>
      <li>
      <li>
        <a href="{% url 'teacher' %}">
          <ul>
            <li>
              <p>Register</p>
            </li>
          </ul>
        </a>
      </li>
      <li>
        <a href="{% url 'list' %}">
          <ul>
            <li>
              <p>Teacher List</p>
            </li>
          </ul>
        </a>
      </li>
      <li>
        <a href="/notifications.html">
          <i><img src="https://img.icons8.com/pastel-glyph/64/000000/test-partial-passed.png"></i>
          <p>Examination</p>
        </a>
      </li>
      <li>
        <a href="/contest.html">
          <i><img src="https://img.icons8.com/wired/64/000000/report-card.png"></i>
          <p>Reports</p>
        </a>
      </li>
      <li>
        <a href="/user.html">
          <i><img src="https://img.icons8.com/ios-glyphs/64/000000/user.png"></i>
          <p>User Profile</p>
        </a>
      </li>
      <li>
        <a href="/school_settings.html">
          <i><img src="https://img.icons8.com/ios-glyphs/64/000000/services.png"></i>
          <p>Settings</p>
        </a>
      </li>

      <li>
        <a href="{% url 'logout' %}" >
          <i class="now-ui-icons media-1_button-power"></i>
          <p>Logout</p>
        </a>
      </li>

      {% endif %}

    </ul>
  </div>
</div>

