{% extends 'layouts/base.html' %}

{% block title %} UI Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Class List</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Adm no
                      </th>
                      <th>
                        Name
                      </th>
                      <th>
                        Form
                      </th>
                    </thead>
                    <tbody>
                    {% for StudentRegister in c_list %}
                      <tr>
                        <td>{{ StudentRegister.admno}}</td>
                        <td>{{ StudentRegister.first_name }}</td>
                        <td>{{ StudentRegister.last_name }}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
