{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- End Navbar -->
<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">NGOINA SECONDARY SCHOOL</h2>
    <p class="category">Excellence in Handwork</p>
  </div>
</div>

<div class="content">

  <div class="row">
    <div class="col-lg-4">
      <div class="card-header">
        <h4 class="card-title"> Students</h4>
      </div>
      <div class="card-body">
        <div class="card-imag-">
          <a href="pages/class_list.html"> <img src="https://img.icons8.com/wired/64/000000/students.png"></a>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card-header">
        <h4 class="card-title"><a href="#"></a> Examination</h4>
      </div>
      <div class="card-body">
        <div class="card-imag-">
          <img src="static/assets/img/test.png">
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card-header">
        <h4 class="card-title"><a href="#"></a> Teacher</h4>
      </div>
      <div class="card-body">
        <div class="card-imag-">
          <img src="https://img.icons8.com/pastel-glyph/64/000000/teacher.png">
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card-header">
        <h4 class="card-title">Settings</h4>
      </div>
      <div class="card-body">
        <div class="card-imag-">
          <a href="pages/school_settings.html"><img src="https://img.icons8.com/carbon-copy/100/000000/gear.png"></a>
        </div>
      </div>
      <div class="card-footer">
        <div class="stats">
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script>
  $(document).ready(function() {
    // Javascript method's body can be found in assets/js/demos.js
    demo.initDashboardPageCharts();

  });
</script>

{% endblock javascripts %}
